

V2:

PRIMARY :


<helix-core-accordion id="iswo" data-gjs-type="helix-core-accordion" behavior="none" class="hydrated" data-hwc-version="4.0.876">
  <helix-core-accordion-panel id="iq6h" data-gjs-type="helix-core-accordion-panel" variant="primary" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="iy4u" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 1
	</helix-core-heading>
	<helix-core-content id="i3ik" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="imzk" data-gjs-type="helix-core-content-paragraph" data-hwc-version="4.0.876" class="">I am the content of the first accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
  <helix-core-accordion-panel id="ipgh" data-gjs-type="helix-core-accordion-panel" variant="primary" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="iepn" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 2
	</helix-core-heading>
	<helix-core-content id="im3nx" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="iu4kd" data-gjs-type="helix-core-content-paragraph" class="" data-hwc-version="4.0.876">I am the content of the second accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
</helix-core-accordion>
<style>
</style>

SECONDARY: 

<helix-core-accordion id="iyii" data-gjs-type="helix-core-accordion" behavior="none" class="hydrated" data-hwc-version="4.0.876">
  <helix-core-accordion-panel id="icvk" data-gjs-type="helix-core-accordion-panel" variant="secondary" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="itfc" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 1
	</helix-core-heading>
	<helix-core-content id="inko" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="i8p2" data-gjs-type="helix-core-content-paragraph" data-hwc-version="4.0.876" class="">I am the content of the first accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
  <helix-core-accordion-panel id="i7jj" data-gjs-type="helix-core-accordion-panel" variant="secondary" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="ii5n" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 2
	</helix-core-heading>
	<helix-core-content id="iu5t3" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="ipz57" data-gjs-type="helix-core-content-paragraph" class="" data-hwc-version="4.0.876">I am the content of the second accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
</helix-core-accordion>
<style>
</style>


CUSTOM:

<helix-core-accordion id="icip" data-gjs-type="helix-core-accordion" behavior="none" class="hydrated" data-hwc-version="4.0.876">
  <helix-core-accordion-panel id="iw7s" data-gjs-type="helix-core-accordion-panel" variant="custom" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="igyo" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 1
	</helix-core-heading>
	<helix-core-content id="iure" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="i60n" data-gjs-type="helix-core-content-paragraph" class="" data-hwc-version="4.0.876">I am the content of the first accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
  <helix-core-accordion-panel id="i5f7" data-gjs-type="helix-core-accordion-panel" variant="custom" is-expanded="" class="hydrated" data-hwc-version="4.0.876">
	<helix-core-heading id="it63" data-gjs-type="helix-core-heading" variant="h5" slot="header" class="hydrated" data-hwc-version="4.0.876">Header 2
	</helix-core-heading>
	<helix-core-content id="iwyc6" data-gjs-type="helix-core-content" class="helix-core-content hydrated" data-hwc-version="4.0.876">
	  <!---->
	  <p id="inty9" data-gjs-type="helix-core-content-paragraph" class="" data-hwc-version="4.0.876">I am the content of the second accordion.
	  </p>
	</helix-core-content>
  </helix-core-accordion-panel>
</helix-core-accordion>
<style>
</style>